.btn-96 {
    perspective: 800px;
    transform-style: preserve-3d;
  }
  
  .btn-96 span {
    transform: rotateX(0deg);
  }
  
  .btn-96:hover span {
    transform: rotateX(35deg);
  }
  
  .btn-96:after,
  .btn-96:before {
    background: #ddd;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateX(0deg);
    width: 100%;
    z-index: -1;
  }
  
  .btn-96:after {
    background: #ccc;
    width: 0;
  }
  
  .btn-96:hover:after {
    animation: progress-bar 1.2s forwards;
  }
  
  @keyframes progress-bar {
    0% {
      opacity: 1;
      width: 0;
    }
  
    60% {
      opacity: 1;
      width: 100%;
    }
  
    100% {
      opacity: 0;
      width: 100%;
    }
  }
  